.lmj-sales {
    border: 1px solid #31b572;
    text-align: center;
    line-height: 1.35rem;
    display: inline-block;
    padding: 1px 6px;
    background: #31b572;
    color: black;
    position: absolute;
    top: 20px;
    right: 0px;
}

.lmj-plant-list {
    list-style-type: none;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}

.lmj-best-sale {
    position: absolute;
    top: 20px;
    right: 0px;
    border: 1px solid #f5df19;
    text-align: center;
    line-height: 1.35rem;
    display: inline-block;
    padding: 1px 6px;
    background: #f5df19;
    color: black;
}